/*---------------------------------
|	Global Styles
---------------------------------*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

html, body {
	padding: 0;
	margin: 0;
	height: auto;
}
html {
	width: 100%;
	background-color: #ccc;

}

h1, h2, h3, h4, h5, h6 {
	font-family: "gill sans", sans-serif;
}

body {
	max-width: 1024px;
	display: block;
	margin: 2em auto;

}

.hero {
	background: #cccccc;
	width: 100%;
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
	padding-top: 40px;
	font-family: "gill sans", sans-serif;
}

.header-top, .header-bottom {
	display: block;
	font-size: 3em;
	font-weight: 100;
}

.header-top span, .header-bottom span {
	color: #ffa500;
}

.header-bottom {
	font-size: 1.75em;
	margin-bottom: 1em;
}

a {
	color: black;
	text-decoration: none;
	font-family: "gill sans", sans-serif;
}

nav {
	width: 100%;
	padding: 1em 0;
	font-size: 1em;
	text-align: center;
}

footer{
	width: 100%;
	padding: 1em 0;
	font-size: 1em;
	text-align: center;
	font-family: "gill sans", sans-serif;
}

nav > ul {
	list-style: none;
	text-align: center;
}

nav ul > li {
	display: inline-table;
	vertical-align: middle;
}

nav ul > li a {
	margin-top: 5px;
	margin-left: 5px;
}
nav ul > li a:hover {
	color: #fff;
}


.page-wrapper {
	text-align: center;
	min-height: 600px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 200px #fff;
	-webkit-box-shadow: 0 0 200px #fff;
	box-shadow: 0 0 200px #fff;
	overflow: hidden;
	background: white;
}

.page-content {
	padding: 1em;
}

/*---------------------------------
|	Project Page Styles
---------------------------------*/

.project-panels-list > li {
	display: inline-block;
}

.project-wrapper {
	background: #cccccc;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	margin: 0 0 1em 1em;
	border-radius: 0 45px 0 45px;
	position: relative;
	transition: width 0.5s ease !important;
	width: 325px;
	overflow: auto;
}

.panel {
	height: 325px;
	width: 325px;
	font-family: "gill sans", sans-serif;
	display: inline-block;
	float: left;
}

.image-panel,
.description-panel {
	background: #fff;
	width: 305px;
	height: 305px;
	margin: 10px;
	border-radius: 35px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.description-panel {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}


.project-wrapper:hover {
	transition: width 0.5s ease !important;
	width: 645px;
}


.activeDescription{
	background: red;
	display: inline-block;
}

.project-image-wrapper {
	position: relative;
	height: 100%;
}

.project-title {
	background: #eee;
	height: 35px;
	line-height: 35px;
}


.project-image-wrapper > img {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.image-panel:hover .description-panel {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
}

/*---------------------------------
|	Timeline Styles
---------------------------------*/

.timeline-wrapper {
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: auto;
	height: 100px;
}

.day {
	height: 5px;
	margin: 80px 0 15px 0;
	width: .273%;
	display: inline-block;
	background: #ddd;
	float: left;
}

.day.start {
	background: #333;
	height: 20px;
}

.day.firstOfMonth {
	height: 19px;
	margin: 3px 0;
	background: #333;
}

.day.end {
	background: #333;
	height: 20px;
}